<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nasa.obvious">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".testing.HiltTestActivity"
            android:exported="false"  />
    </application>

</manifest>
